/* admin.css */

.container {
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
}

.search {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
.search-btn {
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 圆角 */
    padding: 0.5rem 1rem; /* 内边距 */
    background-color: #fcfcfc;
    color: #5a8cef; /* 白色文字 */
    cursor: pointer; /* 鼠标样式为手形 */
    transition: background-color 0.3s; /* 背景颜色的过渡效果 */
}

.search-btn:hover {
    background-color: #0d0e0e; /* 鼠标悬停时的背景颜色 */
}

.border {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    width: 16rem;
}

/* 表格样式 */
.w-table {
    width: 100%;
    border: 1px solid #ddd;
}

.bg-gray {
    background-color: #f3f4f6;
}

/* 下拉框样式 */
.dropdown-select {
    width: auto; /* 不占满整个宽度 */
    padding: 0.25rem 0.5rem; /* 内边距 */
    border-radius: 0.375rem; /* 圆角 */
    border: 1px solid rgba(204, 204, 204, 0); /* 边框颜色 */
    background-color: #f3f4f6; /* 背景色 */
    font-family: 'Arial', sans-serif;
    font-size: 1rem; /* 字体大小 */
    transition: all 0.3s ease; /* 平滑过渡 */
}

.dropdown-select:focus {
    border-color: #4f81ff; /* 聚焦时边框颜色 */
    outline: none; /* 去除默认的外轮廓 */
    box-shadow: 0 0 0 3px rgba(79, 129, 255, 0.3); /* 聚焦时的阴影 */
}

.custom-cell {
    border: 1px solid #ddd;
    padding: 0.5rem 0.75rem ;  /* px-3 和 py-2 的值分别是 12px 和 8px */
    width: 60px;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.hover\:bg-gray-50:hover {
    background-color: #f9fafb;
}

/* 按钮样式 */
.text-red-600 {
    color: #e53e3e;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.bg-blue-500 {
    background-color: #3b82f6;
}

.text-white {
    color: white;
}

.hover\:bg-blue-600:hover {
    background-color: #2563eb;
}

.rounded {
    border-radius: 0.25rem;
}

/* 弹窗样式 */
.fixed {
    position: fixed;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-black {
    background-color: black;
}

.bg-opacity-50 {
    opacity: 0.5;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.p-6 {
    padding: 1.5rem;
}

.shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.w-96 {
    width: 24rem;
}

.text-lg {
    font-size: 1.125rem;
}

.font-bold {
    font-weight: 700;
}

.mt-4 {
    margin-top: 1rem;
}

.space-y-2 > :not(:last-child) {
    margin-bottom: 0.5rem;
}
