/* login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #f6f1f8, #4e80e3);
    font-family: Arial, sans-serif;
}
.title-container{
    padding-bottom: 60px;
}
.title {
    color: #efebeb;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    width: 25%;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.login-button,
.register-button {
    background-color: #ffffff;
    color: #6a11cb;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
    background-color: #ddd;
}


.login-button {
    background-color: #ffffff;
    color: #6a11cb;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button {
    background-color: #ffffff;
    color: #6a11cb;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}